.background,
.layer {
	height: 1000px;
}

#parallax-background {
	display: none;
}

#static-background {
	display: block;
}

#static-background {
	background-image: url('../images/background-static.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.background {
	position: relative;
	z-index: 10;
}

.layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.layer.parallax-effect {
	position: fixed;
}

#layer-0 {
	background-image: url('../images/parallax/layer0.png');
	background-color: #040507;
}

#layer-1 {
	background-image: url('../images/parallax/layer1.png');
}

#layer-2 {
	background-image: url('../images/parallax/layer2.png');
}

#layer-3 {
	background-image: url('../images/parallax/layer3.png');
}

#layer-4 {
	background-image: url('../images/parallax/layer4.png');
}

#layer-5 {
	background-image: url('../images/parallax/layer5.png');
}

#layer-6 {
	background-image: url('../images/parallax/layer6.png');
}

#layer-7 {
	background-image: url('../images/parallax/layer7.png');
}

#layer-8 {
	background-image: url('../images/parallax/layer8.png');
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
	#layer-0 {
		background-image: url('../images/parallax/layer0@2x.png');
		background-color: #040507;
	}

	#layer-1 {
		background-image: url('../images/parallax/layer1@2x.png');
	}

	#layer-2 {
		background-image: url('../images/parallax/layer2@2x.png');
	}

	#layer-3 {
		background-image: url('../images/parallax/layer3@2x.png');
	}

	#layer-4 {
		background-image: url('../images/parallax/layer4@2x.png');
	}

	#layer-5 {
		background-image: url('../images/parallax/layer5@2x.png');
	}

	#layer-6 {
		background-image: url('../images/parallax/layer6@2x.png');
	}

	#layer-7 {
		background-image: url('../images/parallax/layer7@2x.png');
	}

	#layer-8 {
		background-image: url('../images/parallax/layer8@2x.png');
	}
}

/* ENABLE */

@media (min-width: 601px) {

	#static-background {
		display: none;
	}

	#parallax-background {
		display: block;
	}

}

/* DISABLE */

@media (max-width: 600px) {

	#static-background {
		display: block;
	}

	#parallax-background {
		display: none;
	}
}

@media only screen and (max-device-width: 450px) {

	.background,
	.layer {
		height: 550px;
	}

	.layer {
		position: absolute;
		background-size: auto 600px;
	}
}